<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="dwz.persistence.mapper.ComPublishingMapper">
	<resultMap id="rm" type="dwz.persistence.beans.ComPublishing">
		<result property="id" jdbcType="INTEGER" column="ID"/>
		<result property="name" jdbcType="VARCHAR" column="NAME"/>
		<result property="region" jdbcType="CHAR" column="REGION"/>
		<result property="weight" jdbcType="DOUBLE" column="WEIGHT"/>
		<result property="agency" jdbcType="CHAR" column="AGENCY"/>
		<result property="summary" jdbcType="LONGVARCHAR" column="SUMMARY"/>
		<result property="description" jdbcType="LONGVARCHAR" column="DESCRIPTION"/>
	</resultMap>
	<sql id="Base_Column_List">
		ID,
		NAME,
		REGION,
		AGENCY,
		WEIGHT,
		SUMMARY,
		DESCRIPTION
	</sql>
	<select id="load" parameterType="java.lang.Integer" resultMap="rm">
		SELECT 
			<include refid="Base_Column_List" />
		FROM com_publishing 
		WHERE 
			ID = #{id} 
	</select>
	<!-- 查询所有的ID -->
	<select id="findAllIds" resultType="java.lang.Integer">
		SELECT ID FROM com_publishing
	</select>

	<!-- 按Id删除 -->
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM com_publishing WHERE
		ID = #{id} 
	</delete>
	 <!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO com_publishing (
			ID,
			NAME,
			REGION,
			AGENCY,
			WEIGHT,
			SUMMARY,
			DESCRIPTION
		) VALUES (
			#{id},
			#{name},
			#{region},
			#{agency},
			#{weight},
			#{summary},
			#{description}
		)
	</insert>
	
	<select id="countAll" resultType="java.lang.Integer">
		SELECT count(ID) FROM com_publishing	
	</select>
	
	<select id="findAll" resultMap="rm">
		SELECT 
			<include refid="Base_Column_List" />
		FROM com_publishing
	</select>
	
	<select id="findPageBreakByCondition" resultMap="rm" parameterType="map">
		SELECT 
	        <include refid="Base_Column_List" />
		from com_publishing 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keywords != null">
				AND (
					NAME LIKE "%"#{keywords}"%"
					or SUMMARY LIKE "%"#{keywords}"%"
				)
      		</if>
      	</trim>
      	
      	<choose>
			<when test="orderField !=null and orderField !=''">
				 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
			</when>
			<otherwise>
				 order by NAME 
			</otherwise>
		</choose>
	</select>
	
	<select id="findPublishingWeight" resultMap="rm" parameterType="map">
		SELECT 
	        <include refid="Base_Column_List" />
		from com_publishing 
		where weight &gt; 0
      	order by NAME 
	</select>
	
	<select id="findNumberByCondition" resultType="java.lang.Integer" parameterType="map">
		select count(0) as c from com_publishing
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keywords != null">
				AND (
					NAME LIKE "%"#{keywords}"%"
					or SUMMARY LIKE "%"#{keywords}"%"
				)
      		</if>
      	</trim>
	</select>
	
	<!-- 更新 -->
	<update id="updateSelective" parameterType="dwz.persistence.beans.ComPublishing">
		UPDATE com_publishing 
			<set>
				<if test="name!=null">
				NAME = #{name},
				</if>
				<if test="region!=null">
				REGION = #{region},
				</if>
				<if test="agency!=null">
				AGENCY = #{agency},
				</if>
				<if test="weight!=null">
				WEIGHT = #{weight},
				</if>
				<if test="summary!=null">
				SUMMARY = #{summary},
				</if>
				<if test="description!=null">
				DESCRIPTION = #{description}
				</if>
			</set>
		WHERE 
			ID = #{id}
	</update>
	
	<update id="update" parameterType="dwz.persistence.beans.ComPublishing">
		UPDATE com_publishing SET
			NAME = #{name},
			REGION = #{region},
			AGENCY = #{agency},
			WEIGHT = #{weight},
			SUMMARY = #{summary},
			DESCRIPTION = #{description}
		WHERE 
			ID = #{id} 
	</update>
	
</mapper>

